
<div class='paginationHouse'><%= will_paginate @tems %></div>

<div id='div_edit'>
	<%= link_to Lookup.find_by_key("newtem").value, new_tem_path %>
</div>	

<br/>
<% @tems.each do |tem| %>
	<%= render :partial => "read", :locals => { :tem => tem } %>
<% end %>
<br />
